
<div>
<h1>{{bike.make}}</h1>
<hr>
<h3>{{bike.model}}</h3>
<hr>
<h3>{{bike.year}}</h3>
<hr>
<h3>{{bike.color}}</h3>
<hr>
<h3>{{bike.engine}}</h3>
<hr>
<h3>{{bike.mileage}}</h3>
<hr>
<h3>{{bike.description}}</h3>
<hr>
<h3>{{bike.bikeCondition}}</h3>
<hr>
<h3>{{bike.price}}</h3>
<hr>
<a href="/bikes">Back</a>

</div>