
<div>
<h1>{{bike.make}}</h1>
<hr>
<h3>{{bike.model}}</h3>
<hr>
<h3>{{bike.year}}</h3>
<hr>
<h3>{{bike.color}}</h3>
<hr>
<h3>{{bike.engine}}</h3>
<hr>
<h3>{{bike.mileage}}</h3>
<hr>
<h3>{{bike.description}}</h3>
<hr>
<h3>{{bike.bikeCondition}}</h3>
<hr>
<h3>{{bike.price}}</h3>
<hr>
<h3>Seller: {{author.username}}</h3>
<a href="/bikes">Back</a>
<a href="bikes/:bikeId/comment">Comment</a>

</div>

{{#unless comments}}
<p>No comments yet!</p>
{{/unless}}

{{#each comments}}
<p><b>{{this.author.username}}:</b>{{this.content}}</p>
{{/each}}

<hr>

<h3>Add comment</h3>

<form action="/post/{{_id}}/comment" method="post">

</form>